.partida-card {
  border: 1px solid #ddd;
  padding: 0 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #fff;
}

.resultado {
  font-weight: bold;
  margin-top: 0.5rem;
}

.vencedor {
  font-size: 0.9rem;
  color: #007acc;
}

.status {
  font-style: italic;
  color: #777;
}

.info {
  font-weight: bold;
  margin: 0.25rem;
}
.endereco{
  font-size: 0.9rem;
  color: #555; 
}
