<div class="partida-card">
  <ng-container *ngIf="jogo.pontosMandante != null && jogo.pontosVisitante != null; else agendada">
    <div class="resultado">
      {{ jogo.mandante }} {{ jogo.pontosMandante }} x {{ jogo.pontosVisitante }} {{ jogo.visitante }}
    </div>
    <div class="vencedor">
      Vencedor: {{ vencedorSimples }}
      <span *ngIf="jogo.status === 'wo'">(W.O.)</span>
      <span *ngIf="jogo.status !== 'wo'">({{ pontosTextoSimples }})</span>
    </div>
  </ng-container>
  <div class="info">
    📍 <strong>{{ jogo.local }}</strong>
    <div class="endereco" *ngIf="endereco">
      {{ endereco }}
    </div>
  </div>

  <ng-template #agendada>
    <div class="resultado">
      {{ jogo.mandante }} x {{ jogo.visitante }}
    </div>
    <div class="status">⏳ Aguardando resultado</div>
  </ng-template>
</div>
