:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #333;
}
/* Tela de carregamento */
#splash-screen {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}

#splash-screen.fade-out {
  opacity: 0;
}

/* Conteúdo principal */
.site-main {
  padding-top: 1rem;
  flex: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}


