<app-header />

<!-- Conteúdo principal só aparece após preload -->
<main class="site-main" *ngIf="!splashState">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Splash personalizado com base no estado atual -->
<ng-container *ngIf="splashState as state">
  <div class="splash-alternativo">
    <ng-container [ngSwitch]="state">
      <p *ngSwitchCase="SplashState.LoadingApp">Inicializando aplicação...</p>
      <p *ngSwitchCase="SplashState.PreloadingData">Carregando informações do campeonato...</p>
      <p *ngSwitchCase="SplashState.UpdatingPWA">Nova versão disponível. Recarregando...</p>
    </ng-container>
  </div>
</ng-container>

<app-footer />
