<section class="grid-duas-colunas">
  <div class="coluna">
    <h2>Últimos Resultados</h2>

    <app-rodada
      *ngFor="let rodada of ultimasRodadas"
      [dataFormatada]="rodada.dataFormatada"
      [jogos]="rodada.jogos"
    />
  </div>

  <div class="coluna">
    <h2>Próxima Rodada</h2>

    <ng-container *ngIf="proximaRodada as rodada">
      <app-rodada
        [dataFormatada]="rodada.dataFormatada"
        [jogos]="rodada.jogos"
      />
    </ng-container>

    <ng-container *ngIf="!proximaRodada">
      <p>✅ Todas as rodadas foram concluídas!</p>
    </ng-container>
  </div>
</section>
